<h2 class="pungy-title">About Me</h2>
<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center">
  <div fxFlex="60%">
    <div>
      <mat-card style="margin-top: 10px" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Lase Martin Jakobsen</mat-card-title>
          <mat-card-subtitle>Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h4> Biography </h4>
          <p>
            Lasse has a strong technical knowledge of network security and optimisation, consulting some of the largest companies in the Denmark, delivering solutions for automating analysis and simplifying network troubleshooting. Lasse has in experience in a large array of technologies, specialising in C# and Golang. Since the start of 2017, Lasse has been the technical lead for several demanding projects, providing on-time and reliable solutions.
          </p>
          <h4> Contact </h4>
            <a class="contact-icon" href="https://github.com/Pungyeon">
              <i class="fab fa-github" style="color: black"></i> Pungyeon
            </a>
            <a class="contact-icon" href="https://www.linkedin.com/in/lasse-martin-jakobsen-6765b64b/">
              <i class="fab fa-linkedin" style="color: black"></i> LinkedIn
            </a>
            <a class="contact-icon" href="https://twitter.com/ifndef_lmj">
                <i class="fab fa-twitter" style="color: black"></i> #ifndef_lmj
            </a>
            <a class="contact-icon" href="mailto:lja@pungy.dk">
                <i class="far fa-envelope" style="color: black"></i> lja@pungy.dk
            </a>  
        </mat-card-content>
      </mat-card>
      <h2 class="pungy-title">Experience</h2>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let job of experience">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{job.Company}}
            </mat-panel-title>
            <mat-panel-description>
              {{job.Title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{job.Description}}</p>
        </mat-expansion-panel>
      </mat-accordion>

      <h2 class="pungy-title"> Contact </h2>
      <mat-card style="margin-top: 10px" >
        <mat-card-content>
          <a style="font-size:2em; color:black" href="https://github.com/Pungyeon">
              <i class="fab fa-github"></i>
          </a>
          <button mat-icon-button style="font-size:2em; color:darkblue">
              <i class="fab fa-linkedin"></i>
          </button>
          <button mat-icon-button style="font-size:2em; color:lightblue">
              <i class="fab fa-twitter"></i>
          </button>
          <button mat-icon-button style="font-size:2em; color:red">
              <i class="far fa-envelope"></i>
          </button>
        </mat-card-content>
      </mat-card>
    </div>  
  </div>
</div>