<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center">
<div fxFlex="60%">
  <div>
      <h2 class="pungy-title">About Me</h2>
      <mat-card style="margin-top: 10px" >
        <mat-card-header>
          <div style="height:60px;width:60px" mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Lase Martin Jakobsen</mat-card-title>
          <mat-card-subtitle>Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h4 style="margin-top: 15px;"> Bio </h4>
          <p>
            Lasse has a strong technical knowledge of network security and optimisation, consulting some of the largest companies in the Denmark, delivering solutions for automating analysis and simplifying network troubleshooting. Lasse has in experience in a large array of technologies, specialising in C# and Golang. Since the start of 2017, Lasse has been the technical lead for several demanding projects, providing on-time and reliable solutions.
          </p>
          <p>
            Since 2016, Lasse has been working for the security company Credocom A/S, who specialise in network and infrastructure security. At Credocom, Lasse has been working together with some of the best security engineers in Denmark, consulting all shapes and sizes of companies, to ensure a secure and reliable infrastructure solutions.
          </p>
          <h4>Skill Set</h4>
          <mat-chip-list>
            <mat-chip>Golang</mat-chip>
            <mat-chip>Angular</mat-chip>
            <mat-chip>C#</mat-chip>
            <mat-chip>NodeJS</mat-chip>
            <mat-chip>Terraform</mat-chip>
            <mat-chip>CI/CD</mat-chip>
            <mat-chip>AWS</mat-chip>
            <mat-chip>Network Programming</mat-chip>
            <mat-chip>Security</mat-chip>
            <mat-chip>Docker</mat-chip>
            <mat-chip>Microservices</mat-chip>
            <mat-chip>Kubernetes</mat-chip>
          </mat-chip-list>
          <h4> Contact </h4>
            <a class="contact-icon" href="https://github.com/Pungyeon">
              <i class="fab fa-github" style="color: black"></i> Pungyeon
            </a><br>
              <a class="contact-icon" href="https://www.linkedin.com/in/lasse-martin-jakobsen-6765b64b/">
                <i class="fab fa-linkedin" style="color: #0077B5"></i> LinkedIn
            </a><br>
            <a class="contact-icon" href="https://twitter.com/ifndef_lmj">
                <i class="fab fa-twitter" style="color: rgb(27, 149, 224);"></i> #ifndef_lmj
            </a><br>
            <a class="contact-icon" href="mailto:lja@pungy.dk">
                <i class="far fa-envelope" style="color: #dd5347"></i> lja@pungy.dk
            </a>  
        </mat-card-content>
      </mat-card>
      <h2 class="pungy-title">Experience</h2>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let job of experience">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{job.Company}}
            </mat-panel-title>
            <mat-panel-description>
              {{job.Title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p style="font-style: italic; color: #999">{{job.Date}}</p>
          <h4>Description</h4>
          <p>{{job.Description}}</p>
          <h4> Projects </h4>
          <mat-divider style="margin-top: 10px"></mat-divider>
          <p *ngFor="let project of job.Projects">
            {{project}}
            <mat-divider style="margin-top: 10px"></mat-divider>
          </p>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>  
  </div>
</div>