<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center">
  <div fxFlex="40%" fxFlex.>
    <div>
      <h2 class="pungy-title">Error</h2>
      <mat-card
        fxFlex.gt-md="0 1 calc(20%)"
        fxFlex.md="0 1 calc(27%)"
        fxFlex.sm="0 1 calc(40%)"
        fxFlex.xs="calc(80%)">
        <mat-card-header>
          <div mat-card-avatar class="oops-header-icon"></div>
          <mat-card-title>Error 404</mat-card-title>
          <mat-card-subtitle>Page Not Found</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/fine.jpg" alt="This is going to be fine">
        <p>I'm sorry. I couldn't find that for you... I will try to do better next time :'(</p>
      </mat-card>
    </div>
  </div>
</div>
