
<!-- container -->
<div>
  <h2 class="pungy-title">Articles</h2>
</div>
<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center">
<div fxFlex="80%" fxLayoutAlign="center"> 
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="15px">
      <mat-card 
        fxFlex.gt-md="calc(20%)"
        fxFlex.md="calc(27%)"
        fxFlex.sm="calc(40%)"
        fxFlex.xs="calc(80%)"
        *ngFor="let article of articles"
        (click)="onArticleSelect(article)"
        >
        <img mat-card-image class="article-image" src={{article.Image}} style="height: 150px; object-fit: contain; width: 99%; margin: 0.5%">  
        <mat-card-content>
          <li style="list-style-type: none; margin: 10px 0 10px 0">
            <span class="tag" *ngFor="let tag of article.Tags">{{tag.toUpperCase()}}</span>
          </li>
          <mat-card-title> {{article.Title}} </mat-card-title>
          <li style="list-style-type: none; margin: 10px 0 10px 0">
            <span class="footer"> {{article.Date}} </span>
            <span class="footer"> • </span>
            <span class="footer">
                {{article.Likes}} COMMENTS
            </span>
          </li>
        </mat-card-content>
      </mat-card>
    </div>      
  </div>
</div>

<!-- button mat-icon-button style="font-size:1em;">
  <i class="fas fa-heart"></i>{{article.Likes}}
</button>
<button mat-icon-button style="font-size:1em;">
  <i class="fas fa-comment"></i>{{article.Likes}}
</button>
<button mat-icon-button style="font-size:1em;">
  <i class="fas fa-share-square"></i>{{article.Likes}}
</button -->