<img src="/assets/loading.gif" alt="loading..." *ngIf="loading" class="loader">
<!-- div style="height: 100px; width: 100px;background: blue"></div -->
<!-- container -->
<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center">
  <div fxFlex="80%" fxLayout="row nowrap">
    <h2 class="pungy-title"> Articles </h2>
  </div>
</div>
<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center">
<div>
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap.gt-xs="15px">
      <mat-card
        fxFlex.gt-md="0 1 calc(20%)"
        fxFlex.md="0 1 calc(27%)"
        fxFlex.sm="0 1 calc(40%)"
        fxFlex.xs="calc(80%)"
        *ngFor="let article of articles"
        (click)="onArticleSelect(article)"
        >
        <img mat-card-image class="article-image" src={{article.Image}} alt="could not load image..." style="height: 150px; object-fit: contain; width: 99%; margin: 0.5%">
        <mat-card-content>
          <li style="list-style-type: none; margin: 10px 0 10px 0">
            <span class="tag" *ngFor="let tag of article.Tags">{{tag.toUpperCase()}}</span>
          </li>
          <mat-card-title> {{article.Title}} </mat-card-title>
          <li style="list-style-type: none; margin: 10px 0 10px 0">
            <span class="footer"> {{article.ArticleDate}} </span>
            <span class="footer"> • </span>
            <span class="footer">
                {{article.ViewCount}} VIEWS
            </span>
          </li>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>