<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center">
  <div fxFlex="60%">
    <div>
      <h2 class="pungy-title">Frontend</h2>
      <mat-card style="margin-top: 10px" >
        <mat-card-header>
          <div mat-card-avatar class="angular-header-icon"></div>
          <mat-card-title>Angular 6</mat-card-title>
          <mat-card-subtitle>Javascript Framework</mat-card-subtitle>
        </mat-card-header>
        <h4>What is Angular?</h4>
        <p>
          Angular is an open-source javascript framework for developing graphical user interfaces. Angular
          is Google backed and is technically a 2.0 version of the popular AngularJS framework. To learn more about Angular, 
          I recommend visiting the official site: <a href="https://angular.io/"> https://angular.io/ </a>
        </p>
        <h4> Why Angular? </h4>
        <p>
          So, there are a lot of different frameworks to choose from. Angular, React and Vue are currently the three most 
          popular frameworks to choose from. Choosing a popular framework typically comes with the side-effect of better 
          community support, making it easier to acquire help when troubleshooting. I chose Angular over React, simply because 
          I prefer the syntax and structure og Angular over React, especially when it comes to the dependency injection model 
          of Angular vs. React. I also really like the opinionatedness of Angular, which I feel, helps ensure consistency between projects, 
          both in writing style and structure.
        </p>
        <p>
          Vue was another option, which looks super promising, but at the time of writing this site, I didn't have much experience with. 
          Angular is definitely the least hype of the three frameworks. But, as I am not a front-end developer, I like sticking to what I 
          know, rather than chasing the latest and greatest.
        </p>
      </mat-card>
      <h2 class="pungy-title">Backend</h2>
      <mat-card style="margin-top: 10px" >
        <mat-card-header>
            <div mat-card-avatar class="aws-header-icon"></div>
            <mat-card-title>AWS Lambda</mat-card-title>
            <mat-card-subtitle>NodeJS</mat-card-subtitle>
          </mat-card-header>
          <h4>What?</h4>
          <p>Here is some text explaining cloud services and AWS</p>
          <h4> Why? </h4>
          <p> Here is an explanation of why I have chosen AWS Lambda and NodeJS as an API server</p>
      </mat-card>
      <mat-card style="margin-top: 10px" >
        <mat-card-header>
            <div mat-card-avatar class="aws-header-icon"></div>
            <mat-card-title>AWS DynamoDB</mat-card-title>
            <mat-card-subtitle>Database</mat-card-subtitle>
          </mat-card-header>
          <h4>What?</h4>
          <p>Here is some text explaining cloud services and AWS</p>
          <h4> Why? </h4>
          <p> Here is an explanation of why I have chosen DynamoDB as a databse</p>
      </mat-card>
      <mat-card style="margin-top: 10px" >
        <mat-card-header>
            <div mat-card-avatar class="aws-header-icon"></div>
            <mat-card-title>AWS S3 & CloudFront</mat-card-title>
            <mat-card-subtitle>Content Delivery</mat-card-subtitle>
          </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>