.circle-img {
    border-radius: 100%;
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

a {
    color: #BBB;
}

button {
    border: 1px #BBB solid;
    border-radius: 6px;
    margin: 5px;
}

.centered-div {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}