/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'prismjs/themes/prism-tomorrow.css';

* {
    font-family: 'Helvetica Neue','Calibri',Helvetica,Arial,sans-serif;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('/assets/lasse.jpeg');
    background-size: cover;
}

.angular-header-icon {
    background-image: url('/assets/angular.png');
    background-size: cover;
}

.aws-header-icon {
    background-image: url('/assets/aws.png');
    background-size: cover;
}

.full-width {
    width: 100%;
}

.pungy-title {
    color: #777;
    font-weight: 100;
}

.tag {
    margin-right: 15px;
    font-weight: 600;
    color: #4286f4a6;
    font-size: 12px;
}

.footer {
    margin-right: 10px;
    font-weight: 600;
    color: #757575;
    font-size: 12px;
}


.mat-menu-content, .mat-menu-panel  {
    background: #f2f2f2;
}

.mat-toolbar {
    background: #f2f2f2;
}

.mat-card {
    padding: 14px;
    margin: 10px 0 10px 0;
    flex-basis: 0;
}

a {
    text-decoration: none;
    color: #46A;
}

a:visited {
    color: #46A;
}

blockquote {
    background: #EFEEEE;
    padding: 1px 10px 1px 10px;
    border-left: 4px solid #BBB
}

pre {
    background: #2d2d2d;
    padding: 10px;
    color: #CCC;
}